@import 'piece.scss';

.area {
    display: flex;
    border: 2px solid silver;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:not(:empty) {
        cursor: default;
    }

    &.-top {
        border-top: none;
    }

    &.-left {
        border-left: none;
    }

    &.-bottom {
        border-bottom: none;
    }

    &.-right {
        border-right: none;
    }


    .board.-X.-keydown:has(:focus) &:empty:focus,
    .board.-X.-click &:empty:hover {
        --x: silver;
        
        @include x;
    }

    .board.-O.-keydown:has(:focus) &:empty:focus,
    .board.-O.-click &:empty:hover {
        --o: silver;

        @include o;
    }
}
