@import 'fonts';
@import 'variables';
@import 'notification.scss';
@import 'form.scss';
@import 'dialog.scss';
@import 'board.scss';
@import 'leaderboard.scss';
@import 'effects';

html, 
body {
    @include font;

    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-size: 20px;
    font-smooth: never;
    -webkit-font-smoothing : none;
    background: #333;
    color: #CCC;
}

body {
    display: flex;
    align-items: center;

    @include crt;
    animation: text-flicker-a 3s infinite;
}

a {
    color: yellow;
    display: inline-block;
    padding: 2px 10px 4px;

    &:focus,
    &:hover {
        color: black;
        background: yellow;
        text-decoration: none;
    }
}

#__next {
    flex: 1
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @include equal-margin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 0;
    right: 0;
    left: 0;
    background: #8888;

    @media (max-aspect-ratio: 3/2) {
        top: auto;
        justify-content: space-between;
        bottom: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin: 0 auto;
        width: 100%;

        @media (max-aspect-ratio: 3/2) {
            top: auto;
            justify-content: space-between;
            bottom: 0;
        }

        li {
            margin: 0;
            padding: 0;
        }
    }
}

section {
    display: block;
    margin: 0 auto;
    text-align: center;
}
