@import 'effects';

.notification {
    pointer-events: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 15px;
    z-index: 1;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: all 200ms ease;
    opacity: 0;

    &.-ready {
        opacity: .5;
        animation: blink 300ms steps(5, start) infinite;
        height: 0;
    }

    &.-set {
        opacity: 1;
        animation: blink 100ms steps(5, start) infinite;
        height: 40px;
    }

    &.-gone {
        opacity: 0;
        height: 0;
    }

    @media (min-aspect-ratio: 3/2) {
       width: 200px;
    }
}